@font-face {
			    font-family: 'fjalla_oneregular';
			    src: url('../fonts/fjallaone-regular-webfont.woff2') format('woff2'),
			         url('../fonts/fjallaone-regular-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}
 
			@font-face {
			    font-family: 'ralewayblack';
			    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-black-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}

 
			@font-face {
			    font-family: 'ralewaybold';
			    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-bold-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}

 
			@font-face {
			    font-family: 'ralewayextrabold';
			    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}
 
			@font-face {
			    font-family: 'ralewaylight';
			    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-light-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}
 
			@font-face {
			    font-family: 'ralewaymedium';
			    src: url('files/fonts/raleway-medium-webfont.woff2') format('woff2'),
			         url('files/fonts/raleway-medium-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}

 
			@font-face {
			    font-family: 'ralewayregular';
			    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-regular-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}
 
			@font-face {
			    font-family: 'ralewaysemibold';
			    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
			         url('../fonts/raleway-semibold-webfont.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			}


			@font-face {
  font-family: 'cera_problack_italic';
  src: url('../fonts/cera_pro_black_italic-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_black_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} 



@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cera_pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_prolight';
  src: url('../fonts/cera_pro_light-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular.woff2') format('woff2'),
    url('../fonts/cera_pro_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_proitalic';
  src: url('../fonts/cera_pro_regular_italic-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_regular_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}