 
 .testimonials__center_box .owl-carousel .owl-item {padding: 18px 0;}

    .testimonials__center_box .shadow-effect {
      background: #fff;
      padding: 35px 15px;
      border-radius: 6px;
      text-align: center;
      border: 1px solid #328EC1;
       
  }
 

 
  .testimonials__center_box #customers-testimonials .item {
      text-align: center;
      opacity: .5;
      -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin-top: 8px;
  }
  .testimonials__center_box .owl-carousel .owl-stage-outer {
    min-height: 300px;
}

.testimonials__center_box .owl-carousel .owl-nav {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -28px;
}

.testimonials__center_box .owl-next {
  position: absolute;
  right: -60px;
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  height: 35px;
  width: 35px;
  background-size: contain;
}
.testimonials__center_box .owl-prev {
  position: absolute;
  left: -60px;
  background-image: url(../images/arrow-left.png);
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  height: 35px;
  width: 35px;
  background-size: contain;
}


  .testimonials__center_box  #customers-testimonials .owl-item.active.center .item {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
      margin-top: 0;
  }
  .testimonials__center_box .owl-carousel .owl-item img {
    transform-style: preserve-3d;
    width: 81px;
    margin: 0 auto 15px;
  }
  .testimonials__center_box #customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
  .testimonials__center_box #customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
      background: #3190E7;
      transform: translate3d(0px, -50%, 0px) scale(0.7);
  }
  .testimonials__center_box #customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
.testimonials__center_box #customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
.testimonials__center_box #customers-testimonials.owl-carousel .owl-dots .owl-dot span {
      background: #3190E7;
      display: inline-block;
      height: 20px;
      margin: 0 2px 5px;
      transform: translate3d(0px, -50%, 0px) scale(0.3);
      transform-origin: 50% 50% 0;
      transition: all 250ms ease-out 0s;
      width: 20px;
  }



 .testimonials__center_box  .owl-item.active.center  {z-index: 9999; }
 
.testimonials__center_box  .owl-item.active.center .shadow-effect  { margin: 0 -30px;  }

 