 .ingredients_sectons,
 .review_sectons  {background: #D6E8F2;}

 .reverse_sectons {background: #E5CBBA;}

 .drop_sectons {background: #fff;}

 .videoreview_sectons {background: #F1F7FB;}

.drop_sectons_div {
  background: #F1F7FB;
  padding: 30px 40px;
  margin: 0 30px;
  min-height: 230px;
  border-radius:15px ;
}


.testimonials__center_box .review_slider h3 { margin: 0px 0 5px 0; font-size: 17px; }
.testimonials__center_box .review_slider { padding: 0; min-height: 214px;}

.testimonials__center_min { padding: 50px 0 30px 0; }

.circle { background: #328ec1; }

.clients_logo_sections h2 {color: #333; margin-bottom: 20px;}
.ab_slider h2 {position: relative; top: 0;}
.ab_slider h2 strong { border-radius: 0; width: 100%; }

.ab_slider h2 { float: left; width: 50%;  }
.ab_slider h2 strong  {padding: 12px; 
    font-size: 16px; font-family: 'cera_promedium'; font-weight: normal; }

.ab_slider p { float: left; width: 50%;border: 0;  
    font-size: 16px; padding: 8px 12px; font-family: 'cera_promedium'; margin-bottom: 0;}

.use_bottom { 
  clear:both; 
  border: 1px solid #333; 
  margin-top: -1px;
  z-index: 99;
  position: relative; }


.firstbgp { background: #333 !important; color: #fff; }

.ptop { font-family: 'cera_promedium'; }

.before_sections { background: #D6E8F2;  }

.clients_qa_sections { background: #F1F7FB; padding: 30px 0; }

.reverse_sectons {padding: 30px 0 40px 0;}
 

.banner_sections  {background: #F1F7FB; }


.select_buttons { margin-bottom: 0; text-align: center;  }
.sub_buttons {
  background: #005BAC;
  padding: 5px;
  border-radius: 50px;
}
.select_button {  border-radius: 50px; 
    padding: 7px 15px 7px 15px; border: 0 !important;
    background: none; color: #fff; font-size: 15px; line-height: 19px;}


.select_buttons.active .select_button  {background: #fff; color: #005BAC;}  

.select_buttons.active .select_button::after,
.select_button::after { display: none; }

.sub_buttons {margin: 40px 0 30px 0;}


.review_slider_min_top { display: none !important; }
.testimonials__center_box { display: block !important; }



@media screen and (max-width: 1199px) {

  .review_slider {min-height: 317px;}
  .drop_sectons_div {margin: 0; padding: 30px 15px;}

  .select_button {font-size: 12px;}

  .ab_slider p {font-size: 12px;}

  .clients_qa_sections .col-lg-3  img { width: 200px; margin-bottom: 15px; }

  .review_slider_min_top { display: block  !important; }
 .testimonials__center_box { display: none !important; }

 .review_slider_min .owl-dots {
  margin-top: 30px;
}

}


 
 


@media screen and (max-width: 767px) {



 
 .drop_sectons_div { margin: 0; min-height: 0; }
 .drop_sectons {padding: 30px 0 40px 0;}

  .review_slider {min-height: 0;}

  .ab_slider p  { font-size: 12px; }
  .ptop { margin-top: -65px; }

  .ab_slider {padding: 0px 30px 0 30px;}

  .select_button { font-size: 15px; }

  }

  @media screen and (max-width: 360px) {
    .ab_slider p  { font-size: 10px; }

    .select_button {font-size: 12px; line-height: 15px;}
  }