
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
object,
embed,
video {
    max-width: 100%;
}
 
.clearfix { clear: both; margin: 0; padding: 0;}
  
video{ outline: 0!important; } 
a,
.btn, button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

a:focus,
a:hover {
  outline: none;
  border: 0;
  text-decoration: none;
}

.maxw-100  { max-width: 100% !important; }



body {
  font-size: 16px;
 font-family: 'cera_proregular';
  background: #fff !important;
  overflow-x: hidden;

}

ul {
  margin: 0;
  padding: 0;
}


.position_relative {
    position: relative;
}


p {
  font-size: 16px;
  line-height: 20px;
}

.fluid100  {width: 100%; }


/**/




 

.topheader { 
    background: #333;
  padding: 5px 0;   }

 
 
.topheader p {
  font-size: 14px;
  margin-bottom: 0;
  display: inline-block;   
  font-family: 'cera_probold';
  color: #fff;
}
 
 


.btn_theme {
  font-size: 16px;
  color: #fff;
  border: 0;
  font-family: 'cera_probold';
  border-radius: 4px;
  padding: 8px 25px 10px 25px;
  background: #FF6000;
}


.btn_theme:hover { border: 0; color: #fff;  background: #333; } 

.star_rating { font-family: 'cera_promedium'; }

 
 .star_rating  img {
  margin-top: -5px;
  margin-right: 8px;
}


.banner_sections { background: #D6E8F2; padding: 50px 0; }

.banner_img { position: relative; }

.circle {
  position: absolute;
  left: -50px;
  top: 80px;
  background: #333;
  color: #fff;
  text-align: center;
  width: 95px;
  height: 94px;
  padding-top: 20px;
  border-radius: 50%;
  font-family: 'cera_promedium';
  line-height: 19px;
}

.h1heading {
  font-family: 'cera_probold';
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
  font-size: 41px;
  line-height: 50px;
}

.pheading {
  font-family: 'cera_promedium';
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 15px; 
}

.button_div { max-width: 300px; }
.f214 { font-size: 14px; }

.clients_logo_sections h2 {
  font-family: 'cera_probold';
  color: #005BAC;
  font-size: 20px;
  margin-bottom: 15px;
   }

.clients_logo_sections { padding: 50px 0; }

.h2headline {  
  font-family: 'cera_probold'; 
  font-size: 34px;
  line-height: 46px; 
color: #333333;}

.before_sections { background: #F1F7FB; padding: 60px 0 80px 0; }

.ab_slider { padding: 50px 30px 0 30px;  position: relative;}
.ab_slider h2 { 
    position: absolute; 
    width: 100%; top: 24px; left: 0; 
    text-align: center;
    margin: 0; }

.ab_slider h2 strong {
  background: #333333;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
}

.ab_slider  p {
  font-family: 'cera_promedium';
  border: 1px solid #333;
  background: #fff;
  font-size: 14px;
  padding: 5px 0;
}



.own_nav .owl-nav { position: absolute; top: 50%; width: 100%; margin-top: -20px; }

.own_nav .owl-nav .owl-prev {
  float: left;
  background: url('../images/arrow-left.png') !important;
    background-repeat: repeat;
    background-size: auto;
  width: 20px;
  background-repeat: no-repeat !important;
  text-indent: -999999px;
  background-size: 100% !important;
  height: 40px;
  margin-left: -40px;
}

.own_nav .owl-nav .owl-next {
  float: right;
    background: url('../images/arrow-right.png') !important;
    background-repeat: repeat;
    background-size: auto;
  width: 20px;
  background-repeat: no-repeat !important;
  text-indent: -999999px;
  background-size: 100% !important;
  height: 40px;
  margin-right: -40px;
}



.own_nav  .owl-dots .owl-dot, 
.own_nav  .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 5px;
}

.own_nav  .owl-dots .owl-dot  span,
.own_nav .owl-dots .owl-dot  span  {
    background: none;
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
}
.own_nav .owl-dots .owl-dot.active span,
.own_nav .owl-dots .owl-dot.active span {
  background: #333333;
  display: block;
    border-radius: 50%;
}

.own_nav_nav  .owl-dots { margin-top: 55px; }

.ptop {
  margin: -62px 0 0 0;
}

.button_div_results { margin-top: 62px; }

.clients_qa_sections p { font-family: 'cera_proregular'; font-size: 16px; }
.clients_qa_sections p strong { font-family: 'cera_promedium'; }

 
 .right_qa { position: relative; }

.s2_sign {
  position: absolute;
  right: 0;
  bottom: -66px;
}

 
.clients_qa_sections { background: #D6E8F2; padding: 50px 0; }
.clients_qa_sections p { line-height: 24px; }

.content_carousel_ver .content-carousel {
    width: 100%;
    display: block;
     position: relative;
     left: 0;
}
 
.content_carousel_ver  .owl-carousel div {
    width: 100%;
}
.content_carousel_ver  .owl-carousel .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px;
}
.content_carousel_ver  .owl-carousel .owl-dots {
    text-align: center;
}
.content_carousel_ver  .owl-carousel .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    margin: 15px 5px 0px 5px;
    height: 40px !important;
    width: 40px !important;
    display: inline-block;
}

.content_carousel_ver  .owl-dot.active { border: 1px solid #55BCEE; }

.pro_box { background: #F8F8F9; }


.pro_box ul {
  background: #f8f8fa;
  clear: both;
  min-height: 48px;
}
.pro_box ul li { 
    display: inline-block;
     font-size: 13px ;  
    background: url(../images/arrow-tick.svg);  
    list-style: none;
    
  background-repeat: no-repeat;
  background-size: 13px;
  padding-left: 18px;
  background-position: 0px 7px;
}

.pro_box ul li + li { margin-left: 15px; }

.pro_box01 { position: relative; }
.pro_box01 img { padding: 0px 30px 0px 30px; }

.pro_box01::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 28px;
  background: url('../images/sell1.png') !important;
   width: 20px;
  background-repeat: no-repeat !important;
  width: 86px;
  height: 124px;
  background-size: 100% !important;
}

.product_sections  { padding: 50px 0;  }

.product_right_text p small { font-size: 14px; }
 
 .h2product {
  font-family: 'cera_probold';
  font-size: 25px; 
}

.product_right_text { padding-left: 40px; }
.product_right_text  p { font-size: 15px; }
.product_right_text  .star_rating { margin-bottom: 10px; }

.product_list li    { 
    list-style: none; line-height: 20px;
    cursor: pointer;
    color: #333;
    border: 2px solid #B3CEE6;
    background: #fff;
    position: relative;
    padding: 10px 15px 10px 80px;
    border-radius: 5px;
    margin-top: 10px;}


.product_list li strong { font-family: 'cera_probold'; font-weight: normal; }
.product_list li span { display: block; font-size: 14px; }

.product_list li.active { 
  border: 2px solid #005BAC;
    background: #F1F7FB;}

.pro_imglist {
  position: absolute;
  left: 18px;
  width: 52px;
  top: 10px;
}

.product_list li abbr { 
    color: #427AB0;
    font-family: 'cera_probold'; font-weight: normal; display: block; }


.addtocart p { font-size: 14px; color: #000; opacity: 0.7;  margin-top: 5px; }    

.select_button {
  border: 1px solid #B3CEE6;
  background: #fff;
  font-family: 'cera_probold';
  font-size: 13px;
  padding: 11px 15px 11px 40px;
  border-radius: 4px;
  color: #005BAC;
  position: relative;
}

.select_button .inputradio {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.select_button::after {
  content: '';
  position: absolute;
  left: 14px;
  top: 50%;
  background: url('../images/r-none.svg') !important;
    background-repeat: repeat;
    background-size: auto;
  margin-top: -9px;
  background-repeat: no-repeat !important;
  width: 18px;
  height: 18px;
  background-size: 100% !important;
}

.select_buttons.active .select_button { 
    color: #fff;
    border:1px solid #B3CEE6 ; background: #005BAC;}

.select_buttons.active .select_button::after {
   
  content: '';
  position: absolute;
  left: 14px;
  top: 50%;
  background: url('../images/r-select.svg') !important;
    background-repeat: repeat;
    background-size: auto;
  margin-top: -9px;
  background-repeat: no-repeat !important;
  width: 18px;
  height: 18px;
  background-size: 100% !important;
}
   
 
 .select_buttons { margin-bottom: 15px; }

 .shipping_li li { display: inline-block; font-family: 'cera_probold'; }
  .shipping_li li img { margin-right: 10px; }

  .shipping_li { text-align: center; margin: 20px 0; }

  .shipping_li li + li { margin-left: 30px; } 

  .product_tab_sections .nav {display: block;  text-align: center; }
 .product_tab_sections  .nav-tabs {
  border-bottom: 1px solid #333333;
}
  .product_tab_sections .nav-tabs .nav-link { display: inline-block; width: 30%;  color: #333333; }
    .product_tab_sections .nav-tabs .nav-link.active { font-family: 'cera_probold'; position: relative;  } 

 .product_tab_sections .nav-tabs .nav-link.active::after { 
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background: #000;
  }

 .product_tab_sections button { border: 0 !important; }
  .product_tab_sections .tab-content { padding: 20px 0 30px 0; }
 
  .product_tab_sections  strong {  font-family: 'cera_probold'; margin-bottom: 5px; display: inline-block; }
    .product_tab_sections  p {color: #333;}
 
 .tablist li {
  
  background: url(../images/y-tick.svg);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
  list-style: none;
  background-repeat: no-repeat;
  background-size: 14px;
  padding-left: 20px;
  background-position: 0px 7px;
  color: #333;
}

.footer { background: #333333;  padding: 50px 0;}

.footer * { color: #fff; }
.footer strong { font-family: 'cera_probold'; font-weight: normal; }

.footer p { margin-bottom: 0; }

.footer p  a { opacity: 0.7; }



.reverse_sectons { 
    padding: 50px 0 60px 0;
    background: #D6E8F2; }

.reverse_bg {
  position: absolute;
  right: -15px;
  top: -50px;
  width: 315px;
}



.review_sectons {
    padding: 50px 0 60px 0;
    background: #F1F7FB;}


.owl-carousel .owl-item img  { width: auto; display: inline-block;}
 
.review_slider { background: #fff; padding: 30px; margin: 0 15px; }

.r_star { width: 100px !important; }

.review_slider h3 {
  font-family: 'cera_probold';
  font-size: 18px;
  margin: 25px 0 15px 0;
  color: #333333;
}

.review_slider  p { color: #333333; margin-bottom: 0;}

.review_slider  strong { font-family: 'cera_promedium'; }

.review_details { min-height: 125px; }

.review_slider_min { margin-top: 40px; }

 

.drop_sectons { 
    padding: 60px 0 80px 0;
    background: #D6E8F2; }

.drop_sectons p { margin-bottom: 0; }    
 
.h3headline {
  font-family: 'cera_probold';
  font-size: 16px;
  margin: 15px 0 5px 0;
  color: #333333;
}

.review_video_details { background:#F1F7FB; padding: 15px; border: 1px solid #333; min-height: 120px;} 
.review_video_details p { margin-bottom: 0; }

.review_slider_box { margin: 0 35px; }

.videoreview_sectons { padding: 60px 0; }
 

.ingredients_sectons {
    padding: 50px 0 60px 0;
    background: #F1F7FB;}

     

.key_tab h2 {
  font-family: 'cera_probold';
 color: #333;
  
  color: #333333;
}

.key_tab h2 button { font-size: 18px; color: #333; }


.key_tab h3 {
  font-family: 'cera_probold';
  font-size: 22px;
  margin: 0px 0 25px 0;
  color: #333333;
}


.key_tab  .accordion-button:not(.collapsed) {
  color: #333;
  background:none;
  box-shadow: inset 0 0px 0 rgba(0,0,0,.125);
}

.key_tab .accordion-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background:none;
  border: 0;
  box-shadow: inset 0 -2px 0 #328ec1;
  border-radius: 0;}

.key_tab  button { background: none;  padding: 10px 0; border-radius:0 !important ;}  
.key_tab   .accordion-body {  padding: 0 0 10px 0; font-size: 17px; color: #333;}


.h2p { margin-bottom: 0;   display: block; font-family: 'cera_proregular'; margin-top: 5px; }
.key_tab .accordion-button { display: block; position: relative; }

.key_tab .accordion-button::after {
  position: absolute;
  right: 0;
  top: 50%;
  background: url(../images/icon-p.svg);
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.key_tab .accordion-button:not(.collapsed)::after { 
  position: absolute;
  right: 0;
  top: 50%;
  background: url(../images/icon-m.svg);
  width: 32px;
  height: 32px;
  margin-top: -16px;}



.ab_slider img { width: 100% !important; } 

.featured_slider  .owl-nav , 
.featured_slider  .owl-dots { display: none; } 
.featured_slider img {   height:30px; width: auto !important; }


@supports(padding:max(0px)) {
    body  {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
  }

 .mac-os .product_tab_sections .nav-tabs .nav-link.active::after {bottom: -2px;} 

 


 

@media screen and (max-width: 1199px) {
  .h1heading { font-size: 35px; line-height: 44px; }  
  .own_nav .owl-nav .owl-next {margin-right: -20px;}
  .own_nav .owl-nav .owl-prev {margin-left: -20px;}
  .select_button {font-size: 10px;}
}

@media screen and (max-width: 991px) {
  .name_qa, .clients_qa_sections p { text-align: center; }
  .name_qa .text-end { text-align: center !important; }

  .name_qa  img  {  width: 90px; margin: 15px 0; }
  .clients_qa_sections p {font-size: 18px;}
  .review_slider_min  .owl-dots { margin-top: 30px; }

  .reverse_sectons { position: relative; }
  .reverse_sectons .position-relative { position: static !important; }

  .reverse_bg { right: -15px; top: 0; width: 166px;}
  .select_button { font-size: 14px; }

}

@media screen and (max-width: 767px) {

  html, body {
  overflow-x: hidden !important;
  width: 100% !important;
}


  .header .btn_theme {font-size: 13px; padding: 8px 27px 10px 27px;}
  .button_div  { margin: 0 auto; }
  .circle { left: auto; right: 0; top: -24px;}
  .banner_sections {padding: 30px 0 30px 0;}
  .banner_img { margin-top: 20px; }
  .h1heading { 
      font-size: 40px; line-height: 50px; 
      text-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);}

  .pheading {text-shadow: 0 0px 0px rgba(0, 0, 0, 0.25); 
      font-size: 20px; line-height: 32px; margin-top: 15px; margin-bottom: 30px;}    
  .pheading sup {color: #000; }  

  


  .own_nav_nav .owl-dots { margin-top: 0; }
  .ptop { margin-top: -83px; }
  .before_slider  .button_div_results   { margin-top: 30px; }

  .own_nav .owl-nav { position: relative;  top: auto; width: 200px; margin: 50px auto 0 auto; }
  .own_nav .owl-dots .owl-dot, 
  .own_nav .owl-dots .owl-dot  {margin: 15px 5px 0 5px; width: 8px; height: 8px;}

  .before_sections { padding: 30px 0 30px 0; }

  .supheadingp {font-size: 16px; line-height: 22px;}
  .h2headline {font-size: 26px; line-height: 34px;}

  .product_sections { padding: 30px 0;  }
  .product_right_text {padding-left: 0; margin-top: 30px;}
  .product_right_text p { font-size: 18px; line-height: 25px;}
  .product_right_text .button_div  p {font-size: 15px;}
  .sub_buttons { margin-top: 20px; }
  .content_carousel_ver .owl-carousel .owl-dot {height: 60px !important; width: 60px !important;}

  .product_list li {font-size: 14px;}
  .product_list li span {font-size: 12px;}
  .shipping_li li {font-size: 16px;}
  .shipping_li li img {height: 16px; margin-right: 5px;}
  .shipping_li li + li {margin-left: 10px;}



  .supheadingp strong { font-family: 'cera_probold'; }

  .pro_box01 img { padding: 0; }


  .pro_box02::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 28px;
  background: url('../images/sell2.png') !important;
    background-repeat: repeat;
    background-size: auto;
  width: 20px;
  background-repeat: no-repeat !important;
  width: 70px;
  height: 124px;
  background-size: 100% !important;
}


.ingredients_sectons_left { padding-right: 15px !important; margin-bottom: 30px; }

.key_tab button {padding: 10px 35px 10px 0;} 
.key_tab h2 button { font-size: 16px; }

.ingredients_sectons {padding: 30px 0 30px 0;}
.review_slider_box {margin: 0;}

.review_slider_min {  margin-top: 20px; }

.videoreview_sectons { padding: 40px 0; }


.review_slider_min.own_nav .owl-nav { margin: 20px auto; }
.review_slider_min .owl-dots { margin-top: 0;}

.review_sectons {padding: 30px 0 40px 0;}

.reverse_bg {
  right: -54px;
  top: 0;
  width: 141px;
}

.reverse_sectons {
  padding: 30px 0 40px 0;
  background: #D6E8F2;
}

.footer p {
  margin-bottom: 0;
  font-size: 15px;
}

.footer {
  padding: 30px 0;
}


.clients_logo_sections { padding: 30px 0; }

.clients_logo_sections h2 {margin-bottom: 25px; font-size: 24px;}

.h2headline0201 {font-size: 29px; line-height: 37px;}


.product_tab_sections .nav-tabs {border-bottom: 0px solid #333;}
.product_tab_sections .nav-tabs .nav-link {
    margin: 0 -3px;
    width: 33%;
    border-bottom: 1px solid #333 !important;
  font-size: 14px;}


 .product_tab_sections .tab-content {
  padding: 20px 3px 30px 3px;
}  

.product_tab_sections .nav-tabs .nav-link.active::after {bottom: -2px;} 
 
}

@media screen and (max-width: 700px) {
  .button_div {max-width: 100%;}
  .banner_sections .btn_theme {font-size: 21px; padding: 12px 25px 14px 25px;}
  .f214 {  font-size: 17px; margin-top: 10px;}

}

@media screen and (max-width: 420px) {
   .header .btn_theme {font-size: 13px; padding: 8px 15px 10px 15px;}



}


 


@media screen and (max-width: 360px) {
  .header .btn_theme { font-size: 11px; padding: 8px 10px 10px 10px;}
  .banner_sections .btn_theme {font-size:16px;  }
  .h1heading {font-size: 30px; line-height: 41px;}
  .product_list li abbr {font-size: 10px;}

  .h2headline { font-size: 22px; line-height: 29px;}

   .product_tab_sections .nav-tabs .nav-link {padding: .5rem 7px;}
   .shipping_li li {font-size: 13px;}
}







  